.card{
    height: fit-content!important;

    .card-info{
        
        img{
            width: 250px;
        }
    }
    .d-flex{
        a:hover{
            color: white;
        }
    }
}

.imgCar{
    width: 250px;
}
.cars{
    .card{
    .buttons{
        display: none !important;
        opacity: 0;
        transition: opacity 1s ease-out;
    }
    &:hover{
        .buttons{
            display: flex !important;
            opacity: 1;
        }
    }
}
}
