.card{
    height: fit-content!important;
    width: 300px;
    

    .card-info{
        
        img{
            width: 100%;
            aspect-ratio : 3/2;
            object-fit: contain;
        }
    }
    .d-flex{
        a:hover{
            color: white;
        }
    }
}

.imgCar{
    width: 100%;
    aspect-ratio : 3/2;
    object-fit: contain;
}
.cars{
    .card{
    .buttons{
        display: none !important;
        opacity: 0;
        height: 0;
        transition: opacity 1s ease-out;
    }
    &:hover{
        .buttons{
            display: flex !important;
            opacity: 1;
            height: 100%;

        }
    }
}
}
.bio{
    .car-container{
    }
    .car{
        display: flex;
        flex-direction: column;
        .info{
            font-size: large;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .data{
            font-weight: bold;
        }
    }
}
.resNotif{
    border-radius: 10px;
    align-items: baseline;
    span{
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        span{
            font-weight: 600;
        }
    }
}
.options{
width: auto;
display: flex;
    span{
    border-radius: 5px;
    border :1px #213243 solid;
    background-color: #eee;
&:hover{
    background: #213243;
    color :#eee;
}
    }

}
.never{
    filter: drop-shadow(600px 20px 0px rgb(107, 107, 107));
}
.voituresStats{

    div{
        border:1px  rgb(34, 51, 68) solid;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .num{
            font-size: 25px;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
            transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 750ms;
        &::after {
            content: 'DH';
        }
        
    }
    .reserv{
        color :rgb(34, 56, 117);
        &::after{
        content: 'Rev'!important;
    }}
    transition: all ease-in 500ms ;
    &:hover{
        background-color:#213243;
        color: #eee;
        .num{
            font-size: 30px;
        }
    }
        .desc{
            font-weight: 600;
        }
    }
}