.card{
    height: fit-content!important;
    width: 300px;

    .card-info{
        
        img{
            width: 100%;
            aspect-ratio : 3/2;
            object-fit: contain;
        }
    }
    .d-flex{
        a:hover{
            color: white;
        }
    }
}

.imgCar{
    width: 100%;
    aspect-ratio : 3/2;
    object-fit: contain;
}
.cars{
    .card{
    .buttons{
        display: none !important;
        opacity: 0;
        transition: opacity 1s ease-out;
    }
    &:hover{
        .buttons{
            display: flex !important;
            opacity: 1;
        }
    }
}
}
.bio{
    .car-container{
        width: 50%;
    }
    .car{
        display: flex;
        flex-direction: column;
        width: 50%;
        .info{
            font-size: large;
            font-family: 'Times New Roman', Times, serif;
        }
        .data{
            font-weight: bold;
        }
    }
}

