
@import 'variables';
.entretient-form ,.home{
    
    .card{
        width: 300px;
        z-index: 1;
    }

   
}
.widget{
    display: flex;
    height: 100px;
   
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: baseline;
    border: 1px solid currentColor;
    cursor: pointer;
    @media (min-width: 768px) { 
        width: 250px;
     }
     @media (max-width: 768px) { 
        width: 91.66666667%;
     }

    .icon{
        margin-left: 15px;
        font-size: 30px;
    }
    .body {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: 40px;
    .num{
        font-size: 30px;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .desc{
        margin-top: 5px;
        font-size: medium;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
}
}
fieldset{
    div{
        margin-left: 5px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
    }
}
.pieces{
list-style: none;
position: relative;
right: 50px;
li{
    margin-bottom: 3px;
.piece{
    width:20px;
    position: relative;
    right :680px;
    z-index: 0;
    &.red {
        filter:  drop-shadow(600px 20px 0px red);
    }
    &.green {
        filter:  drop-shadow(600px 20px 0px green);
    }
    &.warning {
        filter:  drop-shadow(600px 20px 0px #ffc107);
    }
}    
.nomPieces{
    position: relative;
    top: 23px;
    right: 70px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2px;
}
}
}
.top{
    border-radius: 10px;
    color: #212529;
    img {
        width:100px;
        aspect-ratio : 3/2;
        object-fit: contain;
        
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

        span{
            font-family: 'Righteous Regular';
        }
        .marque{
            font-family: 'Bruno Ace SC Regular';
            font-size:20px;

        }
    }
    .nbResevation{
        font-size: 50px;
        font-family: 'Oswald Bold';
        margin: auto;
    }
    &:hover{
        transition: all ease-in-out 500ms;
        background-color: #212529;
        color:$light-color;
    }
}
.box{
    border: 1px solid #212529;
    border-radius: 5px;
    height: auto;
    .title{
        position: relative;
        bottom: 0;
        background-color: $light-color;
        display: block;
        width: 100%;
        color: #212529;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        border-radius: 0 0 5px 5px;
        text-align: center;
        margin-top: 12px;
        padding:  6px 0 ;
        --button-box-shadow-width: 0.375em;
        --button-box-shadow: 0 var(--button-box-shadow-width) 0 #212529;
        box-shadow: var(--button-box-shadow);
    }
}
#pieChart{
    max-height: 300px;
}