.reservation-about{
    background-color: rgba(211, 223, 255, 0.329);

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin:10px;
        padding: 12px;
        section{
            cursor: pointer;
            width: 30%;
            height: 100px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            padding-left: 30px;
            border: #1d0359 solid 1px;
            box-shadow: 1px 2px #2c2c2c ;
            margin-left:20px;
            transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
            &:hover{
                background-color: #1d0359;
                color: #f4F4F4;
            }
            .icon{
                i{
                    font-size: 50px;
                }
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: baseline;
                margin-left: 10px;
                font-family: $font-family-sans-serif;
            }
        }
       
        .stat{
            cursor:default;
        }
    }
.section-info{
    display: flex;
    width: 100%;
    margin:10px;
    padding: 12px;
    border: 1px solid #aa77fcc7;
    background-color: rgb(193, 155, 255); 
    border-radius: 7px; 
    div{
            width: 23%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            background-color: #eee;
            margin: 1%;
        span{
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .number{
            font-weight: 100;
            font-size: 16px;
            font-family: 'Righteous Regular';
        }
        h5{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-top: 10px;
            margin-left: 3px;
        }
    }  

}
.buttons{
    flex : end;
    button,.button {
        width: 200px;
        box-shadow: none;
        
    }
}
}
.button {
    width: 200px;
    box-shadow: none;
    
}

.bold{
    font-weight: 600;
}
.noshadow{
    width: 200px;
    box-shadow: none!important;
    
}
.slick-dots li button:before{
    font-size: 20px;
    color: #1d0359;
}
.slick-slide{
margin-right: 20px;
}
.slide-reservation{
    width: 100%;
    height: 250px;
}
.filter-reservation{
    background-color: #4109c236;
    border: 1px solid #4109c2;
    border-radius: 10px;
}