// Fonts
@import url('https://fonts.bunny.net/css?family=time');
// Variables
@import 'variables';
//card style
@import 'Car';
@import 'progress_bar';
@import 'sidebar';
@import 'dashboard';
@import 'login';
@import 'datatables.net-bs5/css/dataTables.bootstrap5';
@import'slick-carousel/slick/slick.scss';
@import'slick-carousel/slick/slick-theme.scss';
@import'reservation';
@import'renenue';
// Bootstrap
@import 'bootstrap/scss/bootstrap';
.content{
    min-height: 80vh;
}
.w-9{
    width: 100%;
}


.btn{
    --button-box-shadow-width: 0.375em;
    --button-box-shadow: 0 var(--button-box-shadow-width) 0 currentColor;
    box-shadow: var(--button-box-shadow);
}



.footer{
    margin-top: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}