// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.w-9{
    width: 90%;
}






.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}